.nosotros .contenido {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}

.contenido p {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .nosotros .contenido {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .contenido p {
        font-size: 2.5rem;
    }
}